.card-header{
    display: flex;
}
.pregunta{
    cursor: pointer;
}
.pregunta:hover{
    box-shadow: 2px 8px 15px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
    background: rgba(0, 0, 0, 0.004);
}
a{
    color: black;
}