<app-question-create></app-question-create> 
<div class="question-component">
    <div *ngIf="questions.length >0; else sinitems">
    </div>
    <div>
        <ul *ngFor="let question of questions">
            <div class="card">
                <li>
                    <h1>
                        <a [routerLink]="['/question', question._id]">{{question.content}}</a>
                    </h1>
                </li>
                <a *ngIf="isAuthor(question)" (click)="deleteQuestion(question)" class="button3">Borrar</a>  
            </div>      
        </ul>        
    </div>    
    <ng-template #sinitems>
        <span>No hay datos</span>
    </ng-template>
</div>
