.navbar-brand-color{
    color: white;
}
.navbar-brand-color:hover{
    color: white;
}
.logout{
    color: white;
    cursor: pointer;
}
.logout:hover{
    color: #fff;
    cursor: pointer;
}
img{
    width: 30px;
    height: 30px;
    border-radius: 20px;
}
.dropdown-toggle::after{
    content: unset;
}
.dropdown-menu{
    display: none;
    width: 15em;
}
@media (max-width: 991.98px){
.dropdown-menu.show{
    left: unset;
    right: 0;    
    display: block;
}
}