<div class="question-component">
    <div *ngIf="_questions.result.length >0; else sinitems">
    </div>
    <div>
        <ul *ngFor="let question of _questions.result">
            <div class="card">
                <li>
                    <h1>
                        {{question.content}}
                    </h1>
                </li>                  
            </div>      
        </ul>        
    </div>    
    <ng-template #sinitems>
        <span>No hay datos</span>
    </ng-template>
</div>
