<div class="question-component mt-4">
    <h3>Resultados de la busqueda:</h3>
    <div *ngIf="questions.length >0; else sinitems">      
    </div>    
    <div class="mt-3">
      <ul *ngFor="let question of questions; let i = index">
          <div class="card preguntas" >
              <a class="redirect" [routerLink]="['/question', question._id]"></a>
              <div class="card-header info-card-header">
                <img class="img-perfil mr-sm-2" src="{{ question.authorImg }}" alt="..." />
                <div>
                  <p class="my-0">{{ question.authorName }}</p>
                  <p *ngIf="question.date">{{question?.date.toDate() | date: 'MMM d, y, h:mm a'}}</p>
                </div>    
              </div>      
              <div class="card-body">
                <a class="card-title" [routerLink]="['/question', question._id]">{{
                  question.content
                }}</a>
                <p class="card-text"></p>
                <div class="actions">
                  <button
                    *ngIf="!isAuthor(question)"
                    [routerLink]="['/question', question._id]"
                    class="btn btn-success"
                    ><fa-icon [icon]="faComment"></fa-icon></button
                  >
                  <button
                    *ngIf="isAuthor(question)"
                    (click)="deleteQuestion(question)"
                    type="button"
                    class="btn btn-danger"                            
                  >
                  <fa-icon [icon]="faTrash"></fa-icon>
                  </button>                    
                </div>
              </div>
          </div>              
      </ul>        
  </div>    
    <ng-template #sinitems>
        <div class="mt-3">
            <span>No hay datos</span> 
        </div>
    </ng-template>
</div>
