<div class="container mt-3" >
    <ul *ngFor="let question of questions; let i = index">         
        <div class="card preguntas" >
          <div class="card-header info-card-header">
            <p></p>
            <p *ngIf="question.date">{{question.date.toDate() | date: 'MMM d, y, h:mm a'}}</p>
          </div>   
          <a class="redirect" [routerLink]="['/question', question._id]"></a>
          <div class="card-body">
            <a class="card-title" [routerLink]="['/question', question._id]">{{
              question.content
            }}</a>
            <p class="card-text"></p>
            <div class="actions">              
              <button               
                (click)="showAlert(i)"
                type="button"
                class="btn btn-danger"                            
              >
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
              <div
                *ngIf="deleteMode && position == i"
                class="alert alert-danger mt-2"
                role="alert"
              >
                Está seguro que desea eliminar la pregunta?
                <button
                  class="btn btn-secondary"
                  (click)="deleteQuestion(question, 'Pregunta eliminada correctamente')"
                >
                  Si
                </button>
                <button class="btn btn-secondary" (click)="deleteMode = false">
                  No
                </button>
              </div>
            </div>
          </div>
        </div>
        
      </ul>
</div>    