<div class="card mt-3 mb-2">
  <div class="card-header info-card-header">
    <img class="img-perfil mr-sm-2" src="{{ imgAuthor }}" alt="Usuario" />
    <div>
      <p class="my-0">{{ author }}</p>
      <p *ngIf="question.date">{{question.date.toDate() | date: 'MMM d, y, h:mm a'}}</p>
    </div>    
  </div>
  <div class="card-body">
    <h3 class="mb-3">{{ question.content }}</h3>   
    <div class="actions">
      <button
        *ngIf="isAuthor(question)"
        (click)="deleteQuestionMode = true"
        class="btn btn-danger"
      >
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
      <div
        *ngIf="deleteQuestionMode"
        class="alert alert-danger mt-2"
        role="alert"
      >
        Está seguro que desea eliminar la pregunta?
        <button class="btn btn-secondary" (click)="deleteQuestion(question,'Pregunta eliminada correctamente')">
          Si
        </button>
        <button class="btn btn-secondary" (click)="deleteQuestionMode = false">
          No
        </button>
      </div>
    </div>
  </div>
</div>
<hr />
<app-answer-create
  *ngIf="!isAuthor(question); else br"
  [questionId]="question._id"
></app-answer-create>

<ng-template #br>
  <br />
</ng-template>
<hr />
<p>Respuestas: {{ cont }}</p>

<div *ngIf="responses">
  <div class="card mb-3" *ngFor="let response of responses; let i = index">
    <div class="card-header info-card-header" *ngIf="response.content">      
        <img          
          class="img-perfil mr-sm-2"
          src="{{ response.photoURL }}"
          alt="{{ response.author }}"          
        />
        <div>
          <p class="my-0">
            {{ response.author }}
          </p>
          <p *ngIf="response.date">{{response.date | date: 'MMM d, y, h:mm a'}}</p>      

        </div> 
    </div>
    <div class="card-body">
      <p class="ml-2">{{ response.content }}</p>
      <div>
        <button
          *ngIf="isAnswerAuthor(response.uid)"
          (click)="showAlert(i)"
          class="btn btn-danger mr-2"
        >
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
        <button
          *ngIf="isAnswerAuthor(response.uid)"
          class="btn btn-primary"
          (click)="editAnswer(i)"
        >
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
        <div class="actions">
          <div
          *ngIf="deleteMode && position == i"
          class="alert alert-danger mt-2"
          role="alert"
        >
          Está seguro que desea eliminar la respuesta?
          <button class="btn btn-secondary" (click)="deleteAnswer(aid, i, 'Respuesta eliminada correctamente')">
            Si
          </button>
          <button class="btn btn-secondary" (click)="deleteMode = false">
            No
          </button>
        </div>
      </div>

        </div>
        
    </div>
  </div>
</div>
