<div class="card text-center mt-4" *ngIf="user; else loading">
  <div class="card-header">
    Información de perfil
  </div>
  <div class="card-body">
    <div class="">
      <img
        id="user-photo"
        src="{{ user.photoURL }}"
        alt="{{ user.displayName }}"
      />
      <p>{{ user.displayName }}</p>
      <p>{{ user.email }}</p>
    </div>
  </div>
</div>
<hr />
<div>
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Mis preguntas</a>
      <ng-template ngbNavContent>
        <div class="app-question">
          <app-question-list-by-author [uid] = "prof_uid"></app-question-list-by-author>
      </div>
      </ng-template>
    </li>
    <!-- <li [ngbNavItem]="2">
      <a ngbNavLink>Mis respuestas</a>
      <ng-template ngbNavContent>        
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Mis Favoritos</a>
      <ng-template ngbNavContent>        
      </ng-template>
    </li> -->
  </ul>
</div>
    
<ng-template #loading>
    <span>Cargando...</span>
  </ng-template>

<div [ngbNavOutlet]="nav"></div>
