<div>
    <div *ngIf="user else loading">
        <div>
            <img src="{{user.photoURL}}" alt="{{user.displayName}}" width="250px">
            <p>{{user.displayName}}</p>
            <p>{{user.email}}</p>
            <hr>
        </div>

        <div>
            <app-question-list-by-author [uid] = "prof_uid"></app-question-list-by-author>
        </div>
    
        <div *ngIf="flag">
            <button>Responder preguntas</button>
            <button>Ver mis preguntas</button>
            <button>Favoritos</button>
        </div>        
    </div>
    <ng-template #loading>
        <span>Cargando...</span>
    </ng-template>
    
</div>