*{
    margin: 0px;
    padding: 0px;
    font-family: 'Jost', sans-serif;    
}

body{
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
	padding-top: 50px;
}
.navbar{
	height: 60px;
}

.bg-custom{
	background-color:  #046424;   
}
.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
        color: #ffffff;
}
.bg-custom .navbar-brand,
.navbar-custom .navbar-text {	
    color: rgba(255,255,255,.8);
}
/* change the link color */
.bg-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.bg-custom .nav-item.active .nav-link,
.bg-custom .nav-item:focus ,
.bg-custom .nav-item:hover {	
	border-bottom:2px solid #fff;	
}
.bg-custom .navbar-nav .nav-link {
    color: black;    
}
.img-perfil{
	width: 30px;
    height: 30px;
    border-radius: 20px;
}
.actions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}
.actions button, a{
    position: relative;
    z-index: 1;
}
.alert{    
    position: relative;
    z-index: 10;
    display: inline-block;
    width: 85%;
    cursor: default;
}
.alert .btn{
    margin-left: 10px;
}
